.restaurant-container{
  
   /* width: 100%;
    height: 100%; */
    display: flex;
    flex-wrap: wrap;
 
}




.res-card{
    border: 2px solid burlywood;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    cursor: pointer;
    
   
}
.res-card img{
    width: 30px;
    height: 30px;
}
.res-card h1{
    display: flex;
    justify-content: center;
    align-items: center;

}
