/* .search-container{
    display: flex;
    margin-top: 30px;
    gap: 12px
;
}
.search-container input{
    width: 91%;
}
.search-container button{
    width: 10%;
} */
.filter{
    margin-top: 30px;
    margin-right: 89%;
}

button.filter-btn {
    background: beige;
    color: green;
    margin: 8px 2px 0px 0px;
    width: 237px;
    /* display: flex; */
}
.search-func {
    display: flex;
}